.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
}


.container_block,
.container_info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 100%;
}

.container_block {
    column-gap: 15%;
}

.container_info {
    column-gap: 5%; 
}


.button,
.button:hover {
    padding: 1vw;
    border-radius: 100%;
    background-color: transparent;
    color: #6c757d;
    transition: background-color 0.25s;
    cursor: pointer;
}

.button:hover {
    background-color: #dee2e6;
}

.button:active {
    color: #57cc99;
}


.button_icon {
    width: 2vw;
    height: 2vw;   
}