.container {
    padding: 0 0 0 10%;
    display: flex;
    flex-direction: column;
    width: 100%;
}


.container_info {
    margin: 0 0 5px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}


.label,
.label_valid,
.label_error {
    margin: 0 0 0 5px;
    font-weight: 500;
    transition: color 0.5s;
}

.label {
    color: #adb5bd;
}

.label_valid {
    color: #57cc99;
}

.label_error {
    color: #c9184a;
}

.label:hover,
.label_valid:hover,
.label_error:hover {
    cursor: pointer;
}


.error,
.error_clear {
    margin: 0 10% 0 0;
    transition: color 0.5s;
}

.error {
    color: #c9184a;
}

.error_clear {
    color: transparent;
}