.button,
.button:active {
    padding: 5px;
    border: 3px solid #57cc99;
    border-radius: 1em;
    background-color: #57cc99;
    color: white;
    font-size: 1em;
    transition: background-color 0.1s, border-color 0.1s;
    cursor: pointer
}

.button:active {
    background-color: #80ed99;
    border-color: #80ed99;
}